body{
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    background-color: #222;
}

h2 {
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
    text-transform: uppercase;
    font-weight: 100;
    font-size: 1.3em;
    padding: 10px;
}

form {
    background-color: transparent;
    padding: 20px 0;
    max-width: 500px; /* lo máximo que crecera */
    margin: auto;
    box-shadow: 0 0 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    font-size: 16px;
} 

.form_input {
    padding: 6px 20px;
}

input, textarea{
    width: 100%;
    box-sizing: border-box;
    padding: 6px 8px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #0001;
    background-color: transparent;
    border-radius: 4px;
    color: #eee;
}

textarea {
    min-width: 100%; /* con esto se logra que ocupe el espacio y no se pueda cambiar tamaño de empequeñecer pero se puede hacer más grande */
    resize: vertical; /* con esto se logra que se pueda hacer más grande */
    min-height: 100px;
    max-height: 200px;
    font-family: sans-serif;
    /* form-sizing: content; */
    
}