
.box{

    background: #c9d9e8aa;
    margin: 20px 0 0 100px;
    padding: 20px 50px;
    text-align: center;
    font-family: sans-serif;
    font-weight: bold;
    color: #4573a1;
    border-top: 2px solid #4573a1;;
}

