
body{
    margin: 0;
    background-color: #ededed;
    font-family: sans-serif;
}

.contenedor {
    border: 2px solid #000;
    margin: 30px 50px;
    position: relative;
}

.box{
    width: 100px;
    height: 100px;
    background-color: #ca6;
    color: #fff;

}

.box--blue{
    background-color: #37d;
    position: absolute;
    top: 40px;
    left: 0;

}

.box--red{
    background-color: #e53;
}