body{
    background-color: #48e;
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}

.box {
    width: 100%;
    height: 100px;
    margin: 20px;
    margin: 0;
    background: url('https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp') top / cover fixed #6fa;
    /* background-image: url('https://img-cdn.pixlr.com/image-generator/history/65bb506dcb310754719cf81f/ede935de-1138-4f66-8ed7-44bd16efc709/medium.webp');
    background-color: #6fa;
    background-position: top;
    background-size: cover;
    background-attachment: fixed; */
}

.opaco {
    height: 100%;
    width: 100%;
    background-color: #000a;
}

h2 {
    padding: 20px;
    text-align: center;
}