/* Este código CSS define una transición para la propiedad 'color' de un elemento.
   La propiedad 'transition-property' especifica que la transición se aplicará al cambio de color.
   La propiedad 'transition-duration' establece la duración de la transición en 1 segundo.
   La propiedad 'color' establece el color inicial del elemento en rojo (#f00).

   Las transiciones en CSS permiten que los cambios en las propiedades CSS ocurran de manera gradual
   en lugar de instantáneamente. Esto se utiliza para crear efectos visuales más suaves y atractivos
   cuando los elementos cambian de estado, como al pasar el ratón sobre un elemento o al hacer clic en él.


   transition-property: color;
   transition-duration: 1s;
   color: #f00;
*/


body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
}

.box {
    width: 120px;
    height: 120px;
    background-color: #f00;
    margin-top: 50px;
    font-size: 60px;
    /* transition-property: left;
    transition-duration: 1s;
    transition-timing-function: cubic-bezier(.99,-0.02,.14,1); */
    transition: left 1s cubic-bezier(.99,-0.02,.14,1) 2s;
    color: #f00;
    position: relative;
    left: 0;
}

body:hover .box {
    left: 400px;
}