

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #bbb;
}

.box {
    width: 220px;
    height: 270px;
    background-color: #fff;
    margin: auto;
    margin-top: 50px;
    border: 1px solid #0006;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

h1{
    text-wrap: balance;
}