body {
    margin: 0;  
    padding: 0;
    background-color: #222;
    box-sizing: border-box;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100vh;
}

.btn {
    padding: 10px 40px;
    background-color: transparent;
    color: #fff;
    border-radius: 6px;
    letter-spacing: 3px;
    position: relative;
}

/* WAVE BUTTON */
.btn-1 {
    border: 1px solid #48e;
    overflow: hidden;
}

.btn-1::before {
    content: '';
    background-color: #48e;
    display: block;
    height: 200%;
    width: 140%;
    position: absolute;
    z-index: -1;
    transition: top .6s, left .6s, margin .6s;
    border-radius: 50%;
    top: 100%;
    left: 30%;
}

.btn-1:hover::before {
    top: -35%;
    left: -20%;
}

/* NEON BUTTON */

.button-container:has(.btn-2) {
    filter: drop-shadow(0px 0px 15px #48e);
}

.btn-2 {
    border: 1px solid #fff3;
    color: #fff3;
}
.btn-2:hover {
    
    animation: parpadear 1s infinite alternate backwards;
}

.btn-2::before {
    content: '';
    background-color: #48e;
    display: block;
    height: 1px;
    width: 80%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -16px;
    transition: top .6s, opacity .6s;
    animation: parpadear-linea 1s infinite alternate backwards;
}

.btn-2:hover::before {
    opacity: 1;
    top: -5px;
}


.btn-2::after {
    content: '';
    background-color: #48e;
    display: block;
    height: 1px;
    width: 60%;
    position: absolute;
    z-index: -1;
    left: 0;
    right: 0;
    margin: auto;
    opacity: 0;
    top: -19px;
    transition: top .6s, opacity .6s;
    animation: parpadear-linea 1s infinite alternate-reverse backwards;
}

.btn-2:hover::after {
    opacity: 1;
    top: -9px;
}

@keyframes parpadear {
    0% {
        color : #fff3;
        border: 1px solid #fff3;
        box-shadow: 0px;
        text-shadow: 0px;
    }

    
    25% {
        border-color: #48e;
        color: rgb(112, 148, 202);
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.555);
    }
    30% {
        color : #fff3;
        border: 1px solid #fff3;
        box-shadow: 0px;
        text-shadow: 0px;
    }


    35% {
        border-color: #48e;
        color: rgb(112, 148, 202);
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.555);
    }
    46% {
        color : #fff3;
        border: 1px solid #fff3;
        box-shadow: 0px;
        text-shadow: 0px;
    }


    60% {
        border-color: #48e;
        color: rgb(112, 148, 202);
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.555);
    }
    72% {
        color : #fff3;
        border: 1px solid #fff3;
        box-shadow: 0px;
        text-shadow: 0px;
    }


    100% {
        border-color: #48e;
        color: rgb(112, 148, 202);
        box-shadow: 0px 0px 6px #48e3, 0px 0px 16px #48e3;
        text-shadow: 0px 0px 9px #48ee, 0px 0px 3px rgba(159, 197, 255, 0.555);
    }
}


@keyframes parpadear-linea {
    0% {
        background-color: #48e;
        box-shadow: 0 0 6px #48e4, 0 0 16px #48e5;
    }

    
    25% {
        background-color: #fff3;
        box-shadow: none
    }
    30% {
        color : #fff3;
        border: 1px solid #fff3;
        box-shadow: 0px;
        text-shadow: 0px;
    }


    35% {
        background-color: #fff3;
        box-shadow: none
    }
    46% {
        background-color: #48e;
        box-shadow: 0 0 6px #48e4, 0 0 16px #48e5;
    }


    60% {
        background-color: #fff3;
        box-shadow: none
    }
    72% {
        background-color: #48e;
        box-shadow: 0 0 6px #48e4, 0 0 16px #48e5;
    }


    100% {
        background-color: #fff3;
        box-shadow: none
    }
}

@media (prefers-reduce-motion: reduce) {
    .btn .btn::before, .btn::after {
        animation: none;
    }
}